body {
    font-family: Arial, sans-serif;
    background-color: #545353;
    color: #ffffff;
    margin: 20px;
    
  }
  .imdb-link {
    text-align: left;
  }
  
  h1 {
    text-align: center;
    color: #00317b;
  }
  
  h2 {
    color: #00317b;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .mood-container {
    display: flex;
    justify-content: space-around;
  }

 